{% extends "base.html" %}
{% load static %}
{% block head_title %}About Me{% endblock %}
{% block content %}
<div class="posts">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">{{ post.title }}</h2>
    </header>
    <div class="post-description">
      {{ post.body|safe }}
    </div>
  </section>
</div>

<div class="post">
  <header class="post-header">
    <h2 class="post-title">GitHub Repositories: </h2>
  </header>

  <div class="post-description">
    <dl>
      {% for repo in repos %}
        {% if repo.language %}
          <dt><a href="{{ repo.url }}">{{ repo.name }}</a>&nbsp;({{ repo.language }})</dt>
          <dd>{{ repo.description }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
{%  endblock %}
