{% load static %}

<ul class="nav-badges">
  <li class="nav-item-icon">
    <a href="https://github.com/YujinYuz" target="_blank"><img src="{% static 'img/logo/github.png' %}"></a>
  </li>

  <li class="nav-item-icon">
    <a href="https://twitter.com/yujinyuz_" target="_blank"><img src="{% static 'img/logo/twitter.png' %}"></a>
  </li>

  <li class="nav-item-icon">
    <a href="https://www.reddit.com/user/YujinYuz/" target="_blank"><img src="{% static 'img/logo/reddit.png' %}"></a>
  </li>

  <li class="nav-item-icon">
    <a href="https://plus.google.com/u/0/116670347391248436895" target="_blank"><img src="{% static 'img/logo/googleplus.png' %}"></a>
  </li>

  <li class="nav-item-icon">
    <a href="https://www.linkedin.com/in/eugene-essun-oliveros-b79a94120/" target="_blank"><img src="{% static 'img/logo/linkedin.png' %}"></a>
  </li>
</ul>

