{% extends "base.html" %}
{% load static %}

{% block head_title %}Contact Me{% endblock head_title %}

{% block content %}
<div class="post">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">Why should you hire me?</h2>
    </header>

    <div class="post-description">
      <p>Despite being an idiot genius, I believe I have the skills to develop quality software. Knowing that I still have a lot of things lacking is the reason why you should hire me as a software developer.</p>

      <p>Everyone can gain from anyone. And believe me, I have gained lots of knowledge and ideas from different types of idiots and geniuses!</p>
    </div>
  </section>

  <section class="post">
    <header class="post-header">
      <h2 class="post-title">Contact Details</h2>
    </header>

    <div class="post-description">
      <table class="pure-table pure-table-horizontal">
        <tr>
          <td>Contact Number</td>
          <td>+63915 4044 313</td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td>eevoliveros@gmail.com</td>
        </tr>
      </table>
    </div>
  </section>
</div>
{% endblock %}
