.brand-title,
.brand-tagline {
    text-align: center;
    margin: 0px;
}

.brand-image {
    display: block;
    margin: 0px auto;
    height: 100px;
    width: 100px;
}

.sidebar,
.content {
    margin-top: 20px;
}

.identity {
    margin-bottom: 10px;
}

.site-links {
    margin: 0 25px;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: list-item;
    margin: 0px;
}

.nav-item a {
    text-decoration: none;
    margin: 0px;
}

.nav-badges {
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
}

.nav-item-icon {
    display: inline-block;
    margin: 0px;
}

.line {
    margin: 10px auto;
}

/* Blog Post*/
.post-title {
    border-bottom: 1px solid #eee;
}

.post-title a {
    color: #222;
    text-decoration: none;
}
