.brand-title {
    text-transform: lowercase;
}

.post-title a {
    color: #222;
}

.nav-badges {
    margin: 5;
    padding: 0;
    list-style: none;
}

.nav-item-icon {
    display: inline-block;
}
