{% extends "blogsite/index.html" %}
{% load static %}

{% block head_title %}Blog{% endblock  %}

{% block content %}
<div class="posts">
  {% if recent_posts %}
    {% for post in recent_posts %}
      <section class="post">
        <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div class="post-description">
          {{ post.body|truncatewords:90|safe }}
        </div>
        <a href="{{ post.url }}"><small>Read more &raquo;</small></a>
    {% endfor %}
  {% endif %}
  </section>
{% endblock %}
