{% extends "base.html" %}
{% load static %}
{% block head_title %}Jinyuz Blog &ndash; {{ post.title }}{% endblock %}

{% block meta_tags %}
<meta name="description" content="{{ post.title }}">
<meta name="keywords" content="{{ post.tags }}">
<meta name="author" content="{{ post.author }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:url" content="{% url 'blog:detail' post.slug %}">
<meta property="og:description" content="{{ post.body|truncatechars:50 }}">
<meta property="article:publisher" content="https://github.com/YujinYuz">
{% endblock %}

{% block content %}
<div class="posts">
  <h1 class="content-subhead"><a href="{% url 'index' %}">Back to Home</a></h1>
  <!-- A single blog post -->
  <section class="post">
    <header class="post-header">
      <img width="48" height="48" alt="My Avatar" class="post-avatar" src="{{ post.author.image.url }}">

      <h2 class="post-title">{{ post.title }}</h2>

      <p class="post-meta">
        By <a href="{% url 'about' %}" class="post-author">{{ post.author }}</a> under <a class="post-category post-category-js" href="{% url  'blog:category' post.category.slug %}">{{ post.category }}</a>
      </p>
    </header>

    <div class="post-description">
      {{ post.body|safe }}
    </div>

    <div class="date-posted">
      <p><em><small>Posted on {{ post.created_at|date:"M d, Y" }}</small></em></p>
    </div>
  </section>
</div>
{% endblock %}
