{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A blog made by an idiot genius, for an idiot genius.">
    <title>{% block head_title %}Home{% endblock %} &ndash; A blog made by an idiot genius, for an idiot genius.</title>

    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'grids-responsive-old-ie-min.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'css/grids-responsive-min.css' %}">
    <!--<![endif]-->


        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static 'css/blog-old-ie.css' %}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!--<![endif]-->
        <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
        <script src="{% static 'js/emoji.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/emoji.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% block head_css %}{% endblock %}
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">yujinyuz</h1>
            <h2 class="brand-tagline">&ndash; An idiot genius</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#">TBD</a>
                    </li>
                </ul>
            </nav>
            <!-- TODOS: Convert to images -->
            <nav class="nav">
              <ul class="nav-list icons">
                <li class="nav-item">
                  <a href="#" class="pure-button">GitHub</a>
                </li>

                <li class="nav-item">
                  <a href="#" class="pure-button">Twitter</a>
                </li>

                <li class="nav-item">
                  <a href="#" class="pure-button">Facebook</a>
                </li>

                <li class="nav-item">
                  <a href="#" class="pure-button">LinkedIn</a>
                </li>
              </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Pinned Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" alt="My Avatar" class="post-avatar" src="{% static 'img/common/yujin.jpeg' %}">

                        <h2 class="post-title">Beefy Summary</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">Eugene Essun Oliveros</a> under <a class="post-category post-category-design" href="#">Myself</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                          Hi! I'm currently a *web developer* making my way in the industry. It's pretty difficult to get going on the road to becoming a developer especially if you're an idiot genius. I do believe that all people are geniuses. There's just one main problem. They are too idiot (or maybe lazy) to use their brains to become geniuses! 😂
                        </p>

                        <p>
                          Well, sometimes, I also don't use my brain. That's why I thought about calling myself an idiot genius.
                        </p>

                        <p>
                          Anyways, enjoy this blog!
                        </p>
                    </div>
                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Recent Posts</h1>

                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="{% static 'img/common/ericf-avatar.png' %}">

                        <h2 class="post-title">Everything You Need to Know About Grunt</h2>

                        <p class="post-meta">
                            By <a class="post-author" href="#">Eric Ferraiuolo</a> under <a class="post-category post-category-js" href="#">JavaScript</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </section>

                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" alt="Reid Burke&#x27;s avatar" class="post-avatar" src="{% static 'img/common/reid-avatar.png' %}">

                        <h2 class="post-title">Photos from CSSConf and JSConf</h2>

                        <p class="post-meta">
                            By <a class="post-author" href="#">Reid Burke</a> under <a class="post-category" href="#">Uncategorized</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="http://www.flickr.com/photos/uberlife/8915936174/">
                                    <img alt="Photo of someone working poolside at a resort"
                                         class="pure-img-responsive"
                                         src="http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg">
                                </a>

                                <div class="post-image-meta">
                                    <h3>CSSConf Photos</h3>
                                </div>
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="http://www.flickr.com/photos/uberlife/8907351301/">
                                    <img alt="Photo of the sunset on the beach"
                                         class="pure-img-responsive"
                                         src="http://farm8.staticflickr.com/7382/8907351301_bd7460cffb.jpg">
                                </a>

                                <div class="post-image-meta">
                                    <h3>JSConf Photos</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/jinyuzprodigy/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/YujinYuz/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
