{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A blog made by an idiot genius, for an idiot genius.">
    <title>{% block head_title %}Home{% endblock %} &ndash; A blog made by an idiot genius, for an idiot genius.</title>

    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'grids-responsive-old-ie-min.css' %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'css/grids-responsive-min.css' %}">
    <!--<![endif]-->


        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static 'css/blog-old-ie.css' %}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!--<![endif]-->
        <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
        <script src="{% static 'js/emoji.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/emoji.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% block head_css %}{% endblock %}
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">yujinyuz</h1>
            <h2 class="brand-tagline">&ndash; An idiot genius</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'blog:index' %}">Blog</a>
                    </li>
                </ul>
            </nav>
            <!-- TODOS (yujinyuz): Convert to images -->
            <nav class="nav">
              <ul class="nav-badges">
                <li class="nav-item-icon">
                  <a href="#"><img src="{% static 'img/logo/github.png' %}"></a>
                </li>

                <li class="nav-item-icon">
                  <a href="#"><img src="{% static 'img/logo/twitter.png' %}"></a>
                </li>

                <li class="nav-item-icon">
                  <a href="#"><img src="{% static 'img/logo/reddit.png' %}"></a>
                </li>

                <li class="nav-item-icon">
                  <a href="#"><img src="{% static 'img/logo/googleplus.png' %}"></a>
                </li>

                <li class="nav-item-icon">
                  <a href="#"><img src="{% static 'img/logo/linkedin.png' %}"></a>
                </li>

              </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Pinned Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" alt="My Avatar" class="post-avatar" src="/media/images/chibi-me.jpeg">

                        <h2 class="post-title">Beefy Summary</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">Eugene Essun Oliveros</a> under <a class="post-category post-category-design" href="#">Myself</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                          Hi! I'm currently a *web developer* making my way in the industry. It's pretty difficult to get going on the road to becoming a developer especially if you're an idiot genius. I do believe that all people are geniuses. There's just one main problem. They are too idiot (or maybe lazy) to use their brains to become geniuses! 😂
                        </p>

                        <p>
                          Well, sometimes, I also don't use my brain. That's why I thought about calling myself an idiot genius.
                        </p>

                        <p>
                          Anyways, enjoy this blog!
                        </p>
                    </div>
                </section>
            </div>

            {% block recent_posts %} {% endblock recent_posts %}

            {% endblock content %}

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/jinyuzprodigy/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/YujinYuz/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
